.container{
    max-width: 1280px;
    width: 100%;
    padding: 20px;
    margin: auto;
    display: flex;
    gap: 20px;
    @include media-tablet{
        gap: 10px;
        padding: 10px;
    };
    @include media-mobile{
        flex-direction: column;
        gap: 5px;
        padding: 5px;
    };
}