.catalog{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include media-tablet{
        width: 65%;
    }
    @include media-mobile{
        width: 100%;
        padding: 20px;
        justify-content: center;
    }
}