.car-item{
    width: 100%;
    list-style-type: none;
    margin: 0;

    &_garage{
        margin-bottom: 20px;
        height: 80px;
    }

    &_winners{
        display: flex;
    }
}

.car-item__header{
    display: flex;
    height: 20px;
    gap: 5px;

    & > h3 {
        margin: 0;
    }
}

.car-item__body{
    display: flex;
}

.car-item__track{
    height: 50px;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.car-item__icon-container{
    &_garage{
        width: 70px;
        position: relative;
    }

    &_winners{
        width: 70px;
        position: relative;
    }
}

.car-item__icon-broke {
    display: none;
    font-weight: bold;
    width: 20px;
    height: 20px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid red;
    border-radius: 25px;
    position: absolute;
    align-items: center;
    justify-content: center;
}