.garage__table{
    padding: 0;
}
.garage__popup{
    display: none;
    font-weight: bold;
    font-size: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    background-color: white;
    padding: 20px;

    border: 3px solid #303030;
    border-radius: 10px;
    box-shadow: 3px 3px 0px #303030;
}


@keyframes display  {
    0% {
       color: transparent;
    }
    
    50% {
        color: #47eb00;
    }

    100% {
        color: #47eb00;
    }
 
 }


.garage__popup_display{
    padding: 10px;
    animation: 1s display infinite steps(3);
}

.garage-menu{
    padding: 0px;
    margin: 0;
    margin-bottom: 20px;
}

@keyframes hue  {
    from {
       -webkit-filter:hue-rotate(0deg);
    }
    
    to {
       -webkit-filter:hue-rotate(360deg);
    }
 
 }

.garage-menu__button{
    background-color: #f5e562;

    &_race{
        animation:hue 5s infinite linear;
    }
}

