.side {
    width: 20%;

    @include media-tablet{
        width: 35%;
    }
    @include media-mobile{
        padding: 0 20px;
        width: 100%;
    }
}
.side-item{
    background-color: #fcfcfc;
    width: 100%;
    box-shadow: 0 0 5px 1px #c1c1c1;
    padding: 10px;
    margin: 0px 0px 10px;

    @include media-mobile{
        padding: 20px;
        margin: 0 auto 10px;
    }
}
.side__slider{
    position: sticky;
    top: 20px;
}
.search{
    width: 100%;
    border: 1px solid #c5c5c5;
    padding-left: 10px;
    font-size: 1.1rem;
    @include media-mobile{
        font-size: 1.5rem;
    }
}
.search::placeholder{
    color: #c5c5c5;
}

.discount{
    margin-bottom: 20px;
}
