.side {
    width: 20%;

    @include media-tablet{
        width: 35%;
    }
    @include media-mobile{
        padding: 0 20px;
        width: 100%;
        margin-bottom: 20px;
    }
}
.side-item{
    background-color: #fcfcfc;
    width: 100%;
    box-shadow: 0 0 5px 1px #c1c1c1;
    padding: 10px;
    margin: 0px 0px 10px;

    @include media-mobile{
        padding: 20px;
        margin: 0 auto 10px;
    }
}
.side__slider{
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section{
    display: flex;
    align-items: center;
}
.search{
    width: 100%;
    border: 1px solid #c5c5c5;
    padding-left: 10px;
    font-size: 1.1rem;
    @include media-mobile{
        font-size: 1.5rem;
    }
}
.search::placeholder{
    color: #c5c5c5;
}

.search__clear{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    background-image: url(../../../../assets/icons/cross.svg);
    background-size: cover;
    opacity: 0.5;
    border: none;
    cursor: pointer;

    &:hover{
        opacity: 0.9;
    }

    @include media-mobile{
        right: 25px;
    }
}

.discount{
    margin-bottom: 20px;
}

.side-item__buttons-wrapper{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    @include media-mobile{
        justify-content: center;
    }
}