.pets{
    background-color: $color-light-l;
}
.pets__wrapper{
    padding-top: 200px;
    padding-bottom: 100px;
    @include media-tablet{
        padding-top: 200px;
        padding-bottom: 76px;
    };
    @include media-mobile{
        padding-top: 161px;
        padding-bottom: 42px;
        overflow: hidden;
    };
}

.pets__title{
    color:$color-dark-l;
    text-align: center;
    margin-bottom: 44px;
    @include media-tablet{
        margin-bottom: 29px;
    };
    @include media-mobile{
        margin-bottom: 42px;
    };
}

.pets__catalog-window{
    margin: auto;
    margin-bottom: 45px;
   
    width: 100%;
    height: 930px;
    // background-color: rgba($color: #83e9a2, $alpha: 0.4);
    @include media-tablet{
        width: 580px;
        height: 1365px;
        margin-bottom: 40px;
    };

    @include media-mobile{
        width: 270px;
        height: 1365px;
        margin-bottom: 41.5px;
    };
}
.pets__catalog{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    padding: 55px 40px 0px 40px;
    transform: translate(-40px,-40px);
    // background-color: rgba($color: #9283e9, $alpha: 0.4);
    overflow: hidden;

    @include media-tablet{
        padding: 40px 40px 30px 40px;
    };
}
.pets__catalog-slider{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    justify-items: center;

    @include media-tablet{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 1fr);
    };

    @include media-mobile{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    };

}
.pets__buttons-container{
    width: 340px;
    height: 52px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    

    >*{
        
        margin: 0px;
    }
    @include media-mobile{
        width: 300px;
    };
}

.pets__card{
    cursor: pointer;
    flex: 0 0 auto;
    &:hover>button{
        border: 2px solid $color-primary-light;
        background:$color-primary-light;
    }
}