.range-container{
    height: 30px;
    display: flex;
    align-items: flex-end;
    background-color: beige;
}

.range-bar{
    width: 100%;
    height: 8px;
    background-color:rgb(105, 250, 250);
    display: flex;
    position: relative;
    align-items: center;
}
.range-bar__progress{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}
.range-bar__slider{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #b9b9b9;
    transform: translate(-50%, -0%);
    z-index: 1;
    user-select: none;
    display: flex;
    & span{
        color: red;
        margin: auto;
        transform: translate(0%, -100%);
    }
    
    &_start{
        background-color:crimson;
    }

    &_end{
        background-color:chartreuse;
        left: 100%;
    }

    &_hidden{
        position: absolute;

        visibility: hidden;
        transform: translate(-50%, -0%);

        width: 16px;
        height: 16px;
    }
}